body {
  font-size: 1.5em;
  background-color: lightCyan;
}

.panel-padding {
  padding: 6px;
}

.back-col-lightgreen {
  background-color: lightGreen;
}

.btn-modifier {
  margin: 6px;
}

.initial-hide {
  display: none;
}
